<h3 class="subheader">HUD/FHA Mortgage Insurance Programs</h3>
<p>Lighthouse originates for FHA-approved Mortgagee and MAP/LEAN lenders that actively underwrite, 
	fund and service FHA insured mortgage loans for multifamily housing, seniors housing, assisted living and skilled
	care properties nationwide. The FHA mortgage insurance programs are available to for-profit, non-profit and public
	owners. These programs provide long-term, fixed-rate, non-recourse financing for the following:</p>
<table>
	<tbody>
		<tr>
			<td>Section 207:</td>
			<td>New Construction or Substantial Rehabilitation of Multifamily Manufactured Home Parks</td>
			<td><%= link_to "View Specs (PDF)", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/207.pdf", target: "_blank" %></td>
		</tr>
		<tr>
			<td>Section 221(d):</td>
			<td>New Construction or Substantial Rehabilitation of Apartments</td>
			<td><%= link_to "View Specs (PDF)", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/221d4.pdf", target: "_blank"  %></td>
		</tr>
		<tr>
			<td>Section 223(f):</td>
			<td>Acquisition or Refinance of Apartments</td>
			<td><%= link_to "View Specs (PDF)", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/223f.pdf", target: "_blank" %></td>					
		</tr>
		<tr>
			<td>Section 232:</td>
			<td>New Construction of Substantial Rehabilitation of Skilled Care Nursing Homes, Intermediate Care, Assisted Living and Personal Care Facilities (Board and Care Facilities)</td>
			<td><%= link_to "View Specs (PDF)", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/232.pdf", target: "_blank" %></td>					
		</tr>
		<tr>
			<td>Section 232 pursuant to Section 223(f):</td>
			<td>Acquisition or Refinance of Skilled Care Nursing Homes, Intermediate Care, Assisted Living and Personal Care Facilities (Board and Care Facilities)</td>						
			<td><%= link_to "View Specs (PDF)", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/232_pursuant.pdf", target: "_blank"  %></td>
		</tr>
		<tr>
			<td>Section 223(a)(7):</td>
			<td>Refinance of Existing FHA Insured Mortgages (to Reduce the Interest Rate and Pay Associated Costs)</td>
			<td><%= link_to "View Specs (PDF)", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/223a7.pdf", target: "_blank"  %></td>					
		</tr>
		<tr>
			<td>Section 241:</td>
			<td>Supplemental Loan Program for Renovation or Expansion of Existing FHA Insured Apartments, Nursing Homes, Assisted Living Facilities, and Personal Care Facilities.</td>
			<td><%= link_to "View Specs (PDF)", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/241.pdf", target: "_blank"  %></td>					
		</tr>
		<tr>
			<td>Section 242:</td>
			<td>New Construction of Substantial Rehabilitation of Acute Care Facilities Including Critical Access Hospitals</td>
			<td><%= link_to "View Specs (PDF)", "https://s3.amazonaws.com/lighthouse_commercial_production/loan_programs/242.pdf", target: "_blank"  %></td>					
		</tr>
	</tbody>
</table>
<h5>Description:</h5>
<p>
	As the mortgage insurance provider of HUD, FHA will insure mortgages to finance the acquisition, new construction, 
	substantial rehabilitation and refinance of multifamily and healthcare properties nationwide. Loan commitments can be
	funded on a taxable basis or used as credit enhancement for tax-exempt bond issues. Properties insured by FHA can be
	either "market" rate (i.e. not subsidized), affordable housing, or low-income housing. HUD does not require low income 
	tenancy set-asides nor does it impose rent limits on insured properties, though the use of tax-exempt bonds or low income
	housing tax credits can trigger these requirements.
</p>
<div class="row">
	<div class="large-4 columns">
		<h5 class="subheader">Special Program Features:</h5>
	</div>
	<div class="large-8 columns">
		<ul>
			<li>Construction and Permanent Financing Available</li>
			<li>Non-Recourse (HUD Takes a First Mortgage Lien)</li>
			<li>Assumable</li>
			<li>Up to 35 Year Term and Amortization (Refinance/Acquisition)</li>
			<li>Up to 40 Year Term and Amortization (New Construction/Substantial Rehabilitation)</li>
			<li>83.3% to 90% LTV (Refinance/Acquisition)</li>
			<li>83.3% to 90% LTC (New Construction/Substantial Rehabilitation)</li>
		</ul>
	</div>
</div>